.header {
  position: fixed;
  display: flex;
  top: 0;
  left: 0;
  right: 0;
  height: 50px;
  background-color: #698e96;
  justify-content: space-between;
  align-items: center;
  padding: 0 10px;
  box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.3);
}

.profile-image {
  width: 60px;
  height: 30px;
  font-size: 25px;
  padding-left: 30px;
}

.header-buttons {
  padding: 10px 20px;
  font-size: 15px;
  color: rgb(243, 243, 237);
  text-shadow: rgb(105, 105, 105);
  font-family: "Courier New", Courier, monospace;
  font-weight: 550;
  background-color: transparent;
  border: none;
  text-decoration: underline;
  transition: all 0.2s;
  outline: none;
}
.header-buttons:hover {
  color: rgb(218, 205, 33);
  text-shadow: 0.2px 0.5px 1px rgb(63, 63, 63);
  cursor: pointer;
}
