.searchpage-main-container {
  height: 50rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.searchpage-popup-container {
  height: 37rem;
  width: 550px;
  border: none;
  box-shadow: 1px 2px 3px rgb(131, 153, 166);
  background-color: white;
  border-radius: 3%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

p {
  font-family: "Courier New", Courier, monospace;
  color: rgb(119, 105, 103);
}
.searchpage-content-container {
  display: flex;
  flex-direction: row;
  box-shadow: 1px 2px 3px rgb(131, 153, 166);
  border-radius: 4%;
  padding: 40px;
  margin: 20px;
  background-color: rgb(248, 247, 247);
}

.searchpage-photo-container {
  height: 200px;
  width: 200px;
  box-shadow: 1px 2px 3px rgb(131, 153, 166);
  align-self: center;
}

.searchpage-information-container {
  padding: 30px;
}
.searchpage-header {
  color: #6a8e96;
  font-size: 20px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}
.searchpage-profile-name {
  color: rgb(119, 105, 103);
  font-size: 20px;
  font-family: "Courier New", Courier, monospace;
}
.nav-button {
  margin: 10px;
}
