:root {
  --primary-color: "#49868C";
  --secondary-color: "#A0D9D9";
  --tertiary-color: "#A62D2D";
  --quaternary-color: "#BF9969";
  --background-color: "#fad083";
  background: url("../../assets/background.jpg") no-repeat;
  background-size: 150% 150%;
}
