.profilepage-main-container {
  height: 50rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.profilepage-popup-container {
  height: 40rem;
  width: 450px;
  border: none;
  box-shadow: 1px 2px 3px rgb(131, 153, 166);
  background-color: white;
  border-radius: 3%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.profilepage-header {
  color: #6a8e96;
  font-size: 14px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  cursor: pointer;
  display: flex;
  flex-direction: row;
}

p {
  font-family: "Courier New", Courier, monospace;
  color: rgb(119, 105, 103);
  font-weight: bold;
  font-size: 12px;
}
.profilepage-button {
  height: 50px;
  padding: 14px 32px;
  margin: 20px 0px;
  border-radius: 2em;
  transition: all 0.2s;
  border: none;
  box-shadow: 1px 2px 3px rgb(131, 153, 166);
  cursor: pointer;
  color: rgb(119, 105, 103);
  font-family: "Courier New", Courier, monospace;
  font-weight: bold;
  outline: none;
}

.profilepage-button:hover {
  background-color: rgb(236, 234, 234);
  color: rgb(80, 70, 69);
  box-shadow: 1px 2px 3px rgb(99, 115, 124);
}

.profilepage-profilephoto-container {
  height: 200px;
  width: 200px;
  border-radius: 100%;
  border: #6a8e96 solid 1px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.btn-select-photo {
  width: 200px;
  height: 200px;
  border-radius: 100%;
  cursor: pointer;
  margin-bottom: "20px";
  display: flex;
  align-items: center;
  justify-content: center;
}
